In [1]:
!pip install pyspark
!pip install -U -q PyDrive
!apt install openjdk-8-jdk-headless -qq
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"

Collecting pyspark
  Downloading https://files.pythonhosted.org/packages/f0/26/198fc8c0b98580f617cb03cb298c6056587b8f0447e20fa40c5b634ced77/pyspark-3.0.1.tar.gz (204.2MB)
     |████████████████████████████████| 204.2MB 64kB/s
Collecting py4j==0.10.9
  Downloading https://files.pythonhosted.org/packages/9e/b6/6a4fb90cd235dc8e265a6a2067f2a2c99f0d91787f06aca4bcf7c23f3f80/py4j-0.10.9-py2.py3-none-any.whl (198kB)
     |████████████████████████████████| 204kB 46.4MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.0.1-py2.py3-none-any.whl size=204612242 sha256=363b6c1f741c04ba0b2169e21a14e7ef05a416fd6ff07e65a68e4916c736cc6e
  Stored in directory: /root/.cache/pip/wheels/5e/bd/07/031766ca628adec8435bb40f0bd83bb676ce65ff4007f8e73f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.0.1
The following additional packages will be installed:
  openjdk-8-jre-headless
Suggested packages:
  openjdk-8-demo openjdk-8-source libnss-mdns fonts-dejavu-extra
  fonts-ipafont-gothic fonts-ipafont-mincho fonts-wqy-microhei
  fonts-wqy-zenhei fonts-indic
The following NEW packages will be installed:
  openjdk-8-jdk-headless openjdk-8-jre-headless
0 upgraded, 2 newly installed, 0 to remove and 14 not upgraded.
Need to get 36.5 MB of archives.
After this operation, 143 MB of additional disk space will be used.
Selecting previously unselected package openjdk-8-jre-headless:amd64.
(Reading database ... 144865 files and directories currently installed.)
Preparing to unpack .../openjdk-8-jre-headless_8u275-b01-0ubuntu1~18.04_amd64.deb ...
Unpacking openjdk-8-jre-headless:amd64 (8u275-b01-0ubuntu1~18.04) ...
Selecting previously unselected package openjdk-8-jdk-headless:amd64.
Preparing to unpack .../openjdk-8-jdk-headless_8u275-b01-0ubuntu1~18.04_amd64.deb ...
Unpacking openjdk-8-jdk-headless:amd64 (8u275-b01-0ubuntu1~18.04) ...
Setting up openjdk-8-jre-headless:amd64 (8u275-b01-0ubuntu1~18.04) ...
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/jre/bin/orbd to provide /usr/bin/orbd (orbd) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/jre/bin/servertool to provide /usr/bin/servertool (servertool) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/jre/bin/tnameserv to provide /usr/bin/tnameserv (tnameserv) in auto mode
Setting up openjdk-8-jdk-headless:amd64 (8u275-b01-0ubuntu1~18.04) ...
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/idlj to provide /usr/bin/idlj (idlj) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/wsimport to provide /usr/bin/wsimport (wsimport) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/jsadebugd to provide /usr/bin/jsadebugd (jsadebugd) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/native2ascii to provide /usr/bin/native2ascii (native2ascii) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/javah to provide /usr/bin/javah (javah) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/clhsdb to provide /usr/bin/clhsdb (clhsdb) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/xjc to provide /usr/bin/xjc (xjc) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/hsdb to provide /usr/bin/hsdb (hsdb) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/schemagen to provide /usr/bin/schemagen (schemagen) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/extcheck to provide /usr/bin/extcheck (extcheck) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/jhat to provide /usr/bin/jhat (jhat) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/wsgen to provide /usr/bin/wsgen (wsgen) in auto mode

In [2]:
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [3]:
id='1f_9EbnywCj35EBUA32sueigxBjBJwALr'
downloaded = drive.CreateFile({'id': id})
downloaded.GetContentFile('War and Peace by Leo Tolstoy (ru).txt')

In [4]:
import pandas as pd

import pyspark
from pyspark.sql import *
from pyspark.sql.functions import *
from pyspark import SparkContext, SparkConf

In [5]:
conf = SparkConf().set("spark.ui.port", "4050")

sc = pyspark.SparkContext(conf=conf)
spark = SparkSession.builder.getOrCreate()

In [6]:
spark

In [8]:
!wget https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-linux-amd64.zip
!unzip ngrok-stable-linux-amd64.zip
get_ipython().system_raw('./ngrok http 4050 &')
!curl -s http://localhost:4040/api/tunnels | python3 -c \
    "import sys, json; print(json.load(sys.stdin)['tunnels'][0]['public_url'])"

--2020-12-20 20:45:56--  https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-linux-amd64.zip
Resolving bin.equinox.io (bin.equinox.io)... 54.198.148.204, 52.44.17.83, 35.174.46.144, ...
Connecting to bin.equinox.io (bin.equinox.io)|54.198.148.204|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 13773305 (13M) [application/octet-stream]
Saving to: ‘ngrok-stable-linux-amd64.zip.1’

ngrok-stable-linux- 100%[===================>]  13.13M  59.2MB/s    in 0.2s

2020-12-20 20:45:57 (59.2 MB/s) - ‘ngrok-stable-linux-amd64.zip.1’ saved [13773305/13773305]

Archive:  ngrok-stable-linux-amd64.zip
replace ngrok? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: ngrok
http://7e6991f45c9f.ngrok.io

Подсчитай кол-во слов в документе "War and Peace by Leo Tolstoy (ru).txt"

In [9]:
from pyspark.sql import SparkSession
import chardet

ss = SparkSession(sc)

In [10]:
with open('War and Peace by Leo Tolstoy (ru).txt', 'rb') as f:
    result = chardet.detect(f.read())

encoding = result['encoding']

In [11]:
# код
War_and_Peace = ss.read.csv("War and Peace by Leo Tolstoy (ru).txt", sep='\n', encoding=encoding)

In [12]:
pattern_punct = '[\d!@"“’«»#$%&\'()*+,.—\–/:;<=>?^_`{|}~\[\]]'
War_and_Peace = War_and_Peace.withColumn('cleaned', regexp_replace('_c0', pattern_punct, ''))

In [13]:
War_and_Peace.show()

+--------------------+--------------------+
|                 _c0|             cleaned|
+--------------------+--------------------+
|Война и мир. Книга 1|  Война и мир Книга |
|Лев Николаевич То...|Лев Николаевич То...|
|      Война и мир #1|        Война и мир |
|В книгу вошли пер...|В книгу вошли пер...|
|          Том первый|          Том первый|
|        Часть первая|        Часть первая|
|                   I|                   I|
|– Eh bien, mon pr...| Eh bien mon prin...|
|Так говорила в ию...|Так говорила в ию...|
|«Si vous n’avez r...|Si vous navez rie...|
|– Dieu, quelle vi...| Dieu quelle viru...|
|Он говорил на том...|Он говорил на том...|
|– Avant tout dite...| Avant tout dites...|
|– Как можно быть ...| Как можно быть з...|
|– А праздник англ...| А праздник англи...|
|– Я думала, что н...| Я думала что нын...|
|– Ежели бы знали,...| Ежели бы знали ч...|
|– Ne me tourmente...| Ne me tourmentez...|
|– Как вам сказать...| Как вам сказать ...|
|Князь Василий гов...|Князь Василий гов...|
+--------------------+--------------------+
only showing top 20 rows

In [14]:
from pyspark.ml.feature import RegexTokenizer
regexTokenizer = RegexTokenizer(inputCol="cleaned", outputCol="tokens", pattern=r"\s+")
War_and_Peace = regexTokenizer.transform(War_and_Peace)

In [15]:
War_and_Peace.show()

+--------------------+--------------------+--------------------+
|                 _c0|             cleaned|              tokens|
+--------------------+--------------------+--------------------+
|Война и мир. Книга 1|  Война и мир Книга |[война, и, мир, к...|
|Лев Николаевич То...|Лев Николаевич То...|[лев, николаевич,...|
|      Война и мир #1|        Война и мир |     [война, и, мир]|
|В книгу вошли пер...|В книгу вошли пер...|[в, книгу, вошли,...|
|          Том первый|          Том первый|       [том, первый]|
|        Часть первая|        Часть первая|     [часть, первая]|
|                   I|                   I|                 [i]|
|– Eh bien, mon pr...| Eh bien mon prin...|[ eh, bien, mon, ...|
|Так говорила в ию...|Так говорила в ию...|[так, говорила, в...|
|«Si vous n’avez r...|Si vous navez rie...|[si, vous, navez,...|
|– Dieu, quelle vi...| Dieu quelle viru...|[ dieu, quelle, v...|
|Он говорил на том...|Он говорил на том...|[он, говорил, на,...|
|– Avant tout dite...| Avant tout dites...|[ avant, tout, di...|
|– Как можно быть ...| Как можно быть з...|[ как, можно, быт...|
|– А праздник англ...| А праздник англи...|[ а, праздник, ан...|
|– Я думала, что н...| Я думала что нын...|[ я, думала, что,...|
|– Ежели бы знали,...| Ежели бы знали ч...|[ ежели, бы, знал...|
|– Ne me tourmente...| Ne me tourmentez...|[ ne, me, tourmen...|
|– Как вам сказать...| Как вам сказать ...|[ как, вам, сказа...|
|Князь Василий гов...|Князь Василий гов...|[князь, василий, ...|
+--------------------+--------------------+--------------------+
only showing top 20 rows

In [16]:
words_count = War_and_Peace.select(size(War_and_Peace.tokens).name("words_count")).agg(sum("words_count"))
print("Количество слов документе \"War and Peace by Leo Tolstoy (ru).txt\": {}".format(words_count.collect()[0]["sum(words_count)"]))

Количество слов документе "War and Peace by Leo Tolstoy (ru).txt": 472179

In [17]:
id='13yfAoONwq4rS5XrTv3IrcqcFcdgfvK9V'
downloaded = drive.CreateFile({'id': id})
downloaded.GetContentFile('mnist-digits-train.txt')

id='1VE_9x0LQvOJpHXbXp_RMPl3Q4wRUuOok'
downloaded = drive.CreateFile({'id': id})
downloaded.GetContentFile('mnist-digits-test.txt')

Необходимо обучить модель используя Spark MLlib (модель на ваш выбор, например Decision Tree) и получить accuracy.
Подробнее тут: https://spark.apache.org/docs/latest/ml-classification-regression.html

In [18]:
# код
from pyspark.ml import Pipeline
from pyspark.ml.classification import DecisionTreeClassifier
from pyspark.ml.evaluation import MulticlassClassificationEvaluator

In [19]:
train_data = ss.read.format("libsvm").load("mnist-digits-train.txt")

test_data = ss.read.format("libsvm").load("mnist-digits-test.txt")

In [20]:
train_data.show(5)

+-----+--------------------+
|label|            features|
+-----+--------------------+
|  5.0|(780,[152,153,154...|
|  0.0|(780,[127,128,129...|
|  4.0|(780,[160,161,162...|
|  1.0|(780,[158,159,160...|
|  9.0|(780,[208,209,210...|
+-----+--------------------+
only showing top 5 rows

In [21]:
test_data.show(5)

+-----+--------------------+
|label|            features|
+-----+--------------------+
|  7.0|(778,[202,203,204...|
|  2.0|(778,[94,95,96,97...|
|  1.0|(778,[128,129,130...|
|  0.0|(778,[124,125,126...|
|  4.0|(778,[150,151,159...|
+-----+--------------------+
only showing top 5 rows

In [22]:
dt = DecisionTreeClassifier(labelCol="label", featuresCol="features")

model = dt.fit(train_data)

In [23]:
predictions = model.transform(test_data)
predictions.show(5)

+-----+--------------------+--------------------+--------------------+----------+
|label|            features|       rawPrediction|         probability|prediction|
+-----+--------------------+--------------------+--------------------+----------+
|  7.0|(778,[202,203,204...|[175.0,63.0,295.0...|[0.03231763619575...|       7.0|
|  2.0|(778,[94,95,96,97...|[24.0,36.0,195.0,...|[0.04006677796327...|       6.0|
|  1.0|(778,[128,129,130...|[4.0,5302.0,159.0...|[6.82593856655290...|       1.0|
|  0.0|(778,[124,125,126...|[4295.0,2.0,64.0,...|[0.92724525043177...|       0.0|
|  4.0|(778,[150,151,159...|[70.0,0.0,103.0,9...|[0.05672609400324...|       9.0|
+-----+--------------------+--------------------+--------------------+----------+
only showing top 5 rows

In [24]:
evaluator = MulticlassClassificationEvaluator(labelCol="label", predictionCol="prediction", metricName="accuracy")
accuracy = evaluator.evaluate(predictions)
print("accuracy = {}".format(accuracy))

accuracy = 0.6737

In [25]:
id='1kUIrskM0zNH8u71G9M1BkHjRQYxvgAvh'
downloaded = drive.CreateFile({'id': id})
downloaded.GetContentFile('data.zip')
!unzip data.zip

Archive:  data.zip
   creating: data/
  inflating: data/regions.csv
  inflating: data/departments.csv
  inflating: data/jobs.csv
  inflating: data/locations.csv
  inflating: data/country.csv
  inflating: data/employees.csv
  inflating: data/job_history.csv

In [26]:
regions = ss.read.csv("./data/regions.csv", header=True, sep="\t", inferSchema=True)
regions.createOrReplaceTempView("regions")

regions.show()

+---------+--------------------+
|REGION_ID|         REGION_NAME|
+---------+--------------------+
|        1|              Europe|
|        2|            Americas|
|        3|                Asia|
|        4|Middle East and A...|
+---------+--------------------+

In [27]:
departments = ss.read.csv("./data/departments.csv", header=True, sep="\t", inferSchema=True)
departments.createOrReplaceTempView("departments")

departments.show()

+-------------+--------------------+----------+-----------+
|DEPARTMENT_ID|     DEPARTMENT_NAME|MANAGER_ID|LOCATION_ID|
+-------------+--------------------+----------+-----------+
|           10|      Administration|       200|       1700|
|           20|           Marketing|       201|       1800|
|           30|          Purchasing|       114|       1700|
|           40|     Human Resources|       203|       2400|
|           50|            Shipping|       121|       1500|
|           60|                  IT|       103|       1400|
|           70|    Public Relations|       204|       2700|
|           80|               Sales|       145|       2500|
|           90|           Executive|       100|       1700|
|          100|             Finance|       108|       1700|
|          110|          Accounting|       205|       1700|
|          120|            Treasury|      null|       1700|
|          130|       Corporate Tax|      null|       1700|
|          140|  Control And Credit|      null|       1700|
|          150|Shareholder Services|      null|       1700|
|          160|            Benefits|      null|       1700|
|          170|       Manufacturing|      null|       1700|
|          180|        Construction|      null|       1700|
|          190|         Contracting|      null|       1700|
|          200|          Operations|      null|       1700|
+-------------+--------------------+----------+-----------+
only showing top 20 rows

In [28]:
jobs = ss.read.csv("./data/jobs.csv", header=True, sep="\t", inferSchema=True)
jobs.createOrReplaceTempView("jobs")

jobs.show()

+----------+--------------------+----------+----------+
|    JOB_ID|           JOB_TITLE|MIN_SALARY|MAX_SALARY|
+----------+--------------------+----------+----------+
|   AD_PRES|           President|     20080|     40000|
|     AD_VP|Administration Vi...|     15000|     30000|
|   AD_ASST|Administration As...|      3000|      6000|
|    FI_MGR|     Finance Manager|      8200|     16000|
|FI_ACCOUNT|          Accountant|      4200|      9000|
|    AC_MGR|  Accounting Manager|      8200|     16000|
|AC_ACCOUNT|   Public Accountant|      4200|      9000|
|    SA_MAN|       Sales Manager|     10000|     20080|
|    SA_REP|Sales Representative|      6000|     12008|
|    PU_MAN|  Purchasing Manager|      8000|     15000|
|  PU_CLERK|    Purchasing Clerk|      2500|      5500|
|    ST_MAN|       Stock Manager|      5500|      8500|
|  ST_CLERK|         Stock Clerk|      2008|      5000|
|  SH_CLERK|      Shipping Clerk|      2500|      5500|
|   IT_PROG|          Programmer|      4000|     10000|
|    MK_MAN|   Marketing Manager|      9000|     15000|
|    MK_REP|Marketing Represe...|      4000|      9000|
|    HR_REP|Human Resources R...|      4000|      9000|
|    PR_REP|Public Relations ...|      4500|     10500|
+----------+--------------------+----------+----------+

In [29]:
locations = ss.read.csv("./data/locations.csv", header=True, sep="\t", inferSchema=True)
locations.createOrReplaceTempView("locations")

locations.show()

+-----------+--------------------+-----------+-------------------+----------------+----------+
|LOCATION_ID|      STREET_ADDRESS|POSTAL_CODE|               CITY|  STATE_PROVINCE|COUNTRY_ID|
+-----------+--------------------+-----------+-------------------+----------------+----------+
|       1000|1297 Via Cola di Rie|      00989|               Roma|            null|        IT|
|       1100|93091 Calle della...|      10934|             Venice|            null|        IT|
|       1200|    2017 Shinjuku-ku|       1689|              Tokyo|Tokyo Prefecture|        JP|
|       1300|     9450 Kamiya-cho|       6823|          Hiroshima|            null|        JP|
|       1400| 2014 Jabberwocky Rd|      26192|          Southlake|           Texas|        US|
|       1500| 2011 Interiors Blvd|      99236|South San Francisco|      California|        US|
|       1600|      2007 Zagora St|      50090|    South Brunswick|      New Jersey|        US|
|       1700|     2004 Charade Rd|      98199|            Seattle|      Washington|        US|
|       1800|     147 Spadina Ave|    M5V 2L7|            Toronto|         Ontario|        CA|
|       1900|     6092 Boxwood St|    YSW 9T2|         Whitehorse|           Yukon|        CA|
|       2000| 40-5-12 Laogianggen|     190518|            Beijing|            null|        CN|
|       2100|  1298 Vileparle (E)|     490231|             Bombay|     Maharashtra|        IN|
|       2200|12-98 Victoria St...|       2901|             Sydney| New South Wales|        AU|
|       2300|  198 Clementi North|     540198|          Singapore|            null|        SG|
|       2400|      8204 Arthur St|       null|             London|            null|        UK|
|       2500|Magdalen Centre, ...|    OX9 9ZB|             Oxford|          Oxford|        UK|
|       2600|   9702 Chester Road|09629850293|          Stretford|      Manchester|        UK|
|       2700|Schwanthalerstr. ...|      80925|             Munich|         Bavaria|        DE|
|       2800|Rua Frei Caneca 1...|  01307-002|          Sao Paulo|       Sao Paulo|        BR|
|       2900|20 Rue des Corps-...|       1730|             Geneva|          Geneve|        CH|
+-----------+--------------------+-----------+-------------------+----------------+----------+
only showing top 20 rows

In [30]:
country = ss.read.csv("./data/country.csv", header=True, sep="\t", inferSchema=True)
country.createOrReplaceTempView("country")

country.show()

+----------+------------+---------+
|COUNTRY_ID|COUNTRY_NAME|REGION_ID|
+----------+------------+---------+
|        AR|   Argentina|        2|
|        AU|   Australia|        3|
|        BE|     Belgium|        1|
|        BR|      Brazil|        2|
|        CA|      Canada|        2|
|        CH| Switzerland|        1|
|        CN|       China|        3|
|        DE|     Germany|        1|
|        DK|     Denmark|        1|
|        EG|       Egypt|        4|
|        FR|      France|        1|
|        IL|      Israel|        4|
|        IN|       India|        3|
|        IT|       Italy|        1|
|        JP|       Japan|        3|
|        KW|      Kuwait|        4|
|        ML|    Malaysia|        3|
|        MX|      Mexico|        2|
|        NG|     Nigeria|        4|
|        NL| Netherlands|        1|
+----------+------------+---------+
only showing top 20 rows

In [31]:
employees = ss.read.csv("./data/employees.csv", header=True, sep="\t", inferSchema=True)
employees.createOrReplaceTempView("employees")

employees.show()

+-----------+-----------+----------+--------+------------+---------+----------+------+--------------+----------+-------------+
|EMPLOYEE_ID| FIRST_NAME| LAST_NAME|   EMAIL|PHONE_NUMBER|HIRE_DATE|    JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|
+-----------+-----------+----------+--------+------------+---------+----------+------+--------------+----------+-------------+
|        100|     Steven|      King|   SKING|515.123.4567| 17.06.03|   AD_PRES| 24000|          null|      null|           90|
|        101|      Neena|   Kochhar|NKOCHHAR|515.123.4568| 21.09.05|     AD_VP| 17000|          null|       100|           90|
|        102|        Lex|   De Haan| LDEHAAN|515.123.4569| 13.01.01|     AD_VP| 17000|          null|       100|           90|
|        103|  Alexander|    Hunold| AHUNOLD|590.423.4567| 03.01.06|   IT_PROG|  9000|          null|       102|           60|
|        104|      Bruce|     Ernst|  BERNST|590.423.4568| 21.05.07|   IT_PROG|  6000|          null|       103|           60|
|        105|      David|    Austin| DAUSTIN|590.423.4569| 25.06.05|   IT_PROG|  4800|          null|       103|           60|
|        106|      Valli| Pataballa|VPATABAL|590.423.4560| 05.02.06|   IT_PROG|  4800|          null|       103|           60|
|        107|      Diana|   Lorentz|DLORENTZ|590.423.5567| 07.02.07|   IT_PROG|  4200|          null|       103|           60|
|        108|      Nancy| Greenberg|NGREENBE|515.124.4569| 17.08.02|    FI_MGR| 12008|          null|       101|          100|
|        109|     Daniel|    Faviet| DFAVIET|515.124.4169| 16.08.02|FI_ACCOUNT|  9000|          null|       108|          100|
|        110|       John|      Chen|   JCHEN|515.124.4269| 28.09.05|FI_ACCOUNT|  8200|          null|       108|          100|
|        111|     Ismael|   Sciarra|ISCIARRA|515.124.4369| 30.09.05|FI_ACCOUNT|  7700|          null|       108|          100|
|        112|Jose Manuel|     Urman| JMURMAN|515.124.4469| 07.03.06|FI_ACCOUNT|  7800|          null|       108|          100|
|        113|       Luis|      Popp|   LPOPP|515.124.4567| 07.12.07|FI_ACCOUNT|  6900|          null|       108|          100|
|        114|        Den|  Raphaely|DRAPHEAL|515.127.4561| 07.12.02|    PU_MAN| 11000|          null|       100|           30|
|        115|  Alexander|      Khoo|   AKHOO|515.127.4562| 18.05.03|  PU_CLERK|  3100|          null|       114|           30|
|        116|     Shelli|     Baida|  SBAIDA|515.127.4563| 24.12.05|  PU_CLERK|  2900|          null|       114|           30|
|        117|      Sigal|    Tobias| STOBIAS|515.127.4564| 24.07.05|  PU_CLERK|  2800|          null|       114|           30|
|        118|        Guy|    Himuro| GHIMURO|515.127.4565| 15.11.06|  PU_CLERK|  2600|          null|       114|           30|
|        119|      Karen|Colmenares|KCOLMENA|515.127.4566| 10.08.07|  PU_CLERK|  2500|          null|       114|           30|
+-----------+-----------+----------+--------+------------+---------+----------+------+--------------+----------+-------------+
only showing top 20 rows

In [32]:
job_history = ss.read.csv("./data/job_history.csv", header=True, sep="\t", inferSchema=True)
job_history.createOrReplaceTempView("job_history")

job_history.show()

+-----------+----------+--------+----------+-------------+
|EMPLOYEE_ID|START_DATE|END_DATE|    JOB_ID|DEPARTMENT_ID|
+-----------+----------+--------+----------+-------------+
|        102|  13.01.01|24.07.06|   IT_PROG|           60|
|        101|  21.09.97|27.10.01|AC_ACCOUNT|          110|
|        101|  28.10.01|15.03.05|    AC_MGR|          110|
|        201|  17.02.04|19.12.07|    MK_REP|           20|
|        114|  24.03.06|31.12.07|  ST_CLERK|           50|
|        122|  01.01.07|31.12.07|  ST_CLERK|           50|
|        200|  17.09.95|17.06.01|   AD_ASST|           90|
|        176|  24.03.06|31.12.06|    SA_REP|           80|
|        176|  01.01.07|31.12.07|    SA_MAN|           80|
|        200|  01.07.02|31.12.06|AC_ACCOUNT|           90|
+-----------+----------+--------+----------+-------------+

Кто получает больше всего? Кто меньше всего?

In [33]:
# код
request1 = '''
SELECT FIRST_NAME, LAST_NAME, SALARY FROM employees
WHERE SALARY = (SELECT MAX(SALARY) FROM employees)
'''

print("Больше всех получает: ")
ss.sql(request1).show()

Больше всех получает:
+----------+---------+------+
|FIRST_NAME|LAST_NAME|SALARY|
+----------+---------+------+
|    Steven|     King| 24000|
+----------+---------+------+

In [34]:
request2 = '''
SELECT FIRST_NAME, LAST_NAME, SALARY FROM employees
WHERE SALARY = (SELECT MIN(SALARY) FROM employees)
'''

print("Меньше всех получает: ")
ss.sql(request2).show()

Меньше всех получает:
+----------+---------+------+
|FIRST_NAME|LAST_NAME|SALARY|
+----------+---------+------+
|        TJ|    Olson|  2100|
+----------+---------+------+

Выведете топ 5 по зарплате.

In [35]:
# код
request3 = '''
SELECT EMPLOYEE_ID, FIRST_NAME, LAST_NAME, EMAIL, PHONE_NUMBER, SALARY FROM employees
ORDER BY SALARY DESC
LIMIT 5
'''

ss.sql(request3).show()

+-----------+----------+---------+--------+------------------+------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|   EMAIL|      PHONE_NUMBER|SALARY|
+-----------+----------+---------+--------+------------------+------+
|        100|    Steven|     King|   SKING|      515.123.4567| 24000|
|        101|     Neena|  Kochhar|NKOCHHAR|      515.123.4568| 17000|
|        102|       Lex|  De Haan| LDEHAAN|      515.123.4569| 17000|
|        145|      John|  Russell| JRUSSEL|011.44.1344.429268| 14000|
|        146|     Karen| Partners|KPARTNER|011.44.1344.467268| 13500|
+-----------+----------+---------+--------+------------------+------+

Сколько всего регионов? Сколько работников в каждом регионе?

In [36]:
# код
print("Всего регионов: {}".format(ss.sql("SELECT COUNT(*) FROM regions").collect()[0]["count(1)"]))

Всего регионов: 4

In [37]:
request4 = '''
SELECT REGION_NAME, COUNT(EMPLOYEE_ID) as count FROM employees
JOIN departments ON employees.DEPARTMENT_ID = departments.DEPARTMENT_ID
JOIN locations ON departments.LOCATION_ID = locations.LOCATION_ID
JOIN country ON locations.COUNTRY_ID = country.COUNTRY_ID
JOIN regions ON country.REGION_ID = regions.REGION_ID
GROUP BY REGION_NAME
'''
ss.sql(request4).show()

+-----------+-----+
|REGION_NAME|count|
+-----------+-----+
|     Europe|   36|
|   Americas|   70|
+-----------+-----+

Выведете всех работников из Китая.

In [38]:
# код
request5 = '''
SELECT EMPLOYEE_ID, FIRST_NAME, LAST_NAME FROM employees
JOIN departments ON employees.DEPARTMENT_ID = departments.DEPARTMENT_ID
JOIN locations ON departments.LOCATION_ID = locations.LOCATION_ID
JOIN country ON locations.COUNTRY_ID = country.COUNTRY_ID
WHERE country.COUNTRY_NAME = 'China'
'''

ss.sql(request5).show()

+-----------+----------+---------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|
+-----------+----------+---------+
+-----------+----------+---------+

Укажите самую высокооплачиваемою должность.

In [39]:
# код
request6 = '''
SELECT JOB_TITLE, MAX_SALARY FROM jobs
WHERE MAX_SALARY = (SELECT MAX(MAX_SALARY) FROM jobs)
'''

ss.sql(request6).show()

+---------+----------+
|JOB_TITLE|MAX_SALARY|
+---------+----------+
|President|     40000|
+---------+----------+

Выведете всех работников связанных с ИТ. Выведете их менеджеров.

In [40]:
# код
request7 = '''
SELECT e1.EMPLOYEE_ID, e1.FIRST_NAME, e1.LAST_NAME, 
e2.FIRST_NAME AS MANAGER_FIRST_NAME, e2.LAST_NAME AS MANAGER_LAST_NAME FROM employees AS e1
LEFT JOIN employees AS e2 ON e1.MANAGER_ID = e2.EMPLOYEE_ID
WHERE e1.JOB_ID = 'IT_PROG'
'''
ss.sql(request7).show()

+-----------+----------+---------+------------------+-----------------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|MANAGER_FIRST_NAME|MANAGER_LAST_NAME|
+-----------+----------+---------+------------------+-----------------+
|        103| Alexander|   Hunold|               Lex|          De Haan|
|        104|     Bruce|    Ernst|         Alexander|           Hunold|
|        105|     David|   Austin|         Alexander|           Hunold|
|        106|     Valli|Pataballa|         Alexander|           Hunold|
|        107|     Diana|  Lorentz|         Alexander|           Hunold|
+-----------+----------+---------+------------------+-----------------+

Выведете имя и фамилию работника, его текущую и предыдущую должности и сколько полных недель и дней прошло с момент изменения.

In [41]:
# код
#не удалось вывести сколько полных недель и дней прошло с момент изменения.
request8 = '''
select FIRST_NAME,LAST_NAME, e.JOB_ID AS PRESENT_JOB, jh.JOB_ID AS PREVIOUS_WORK from employees e
left join (select EMPLOYEE_ID, JOB_ID, END_DATE from job_history order by END_DATE desc limit 1) jh on jh.EMPLOYEE_ID = e.EMPLOYEE_ID;
'''
ss.sql(request8).show()

+-----------+----------+-----------+-------------+
| FIRST_NAME| LAST_NAME|PRESENT_JOB|PREVIOUS_WORK|
+-----------+----------+-----------+-------------+
|     Steven|      King|    AD_PRES|         null|
|      Neena|   Kochhar|      AD_VP|         null|
|        Lex|   De Haan|      AD_VP|         null|
|  Alexander|    Hunold|    IT_PROG|         null|
|      Bruce|     Ernst|    IT_PROG|         null|
|      David|    Austin|    IT_PROG|         null|
|      Valli| Pataballa|    IT_PROG|         null|
|      Diana|   Lorentz|    IT_PROG|         null|
|      Nancy| Greenberg|     FI_MGR|         null|
|     Daniel|    Faviet| FI_ACCOUNT|         null|
|       John|      Chen| FI_ACCOUNT|         null|
|     Ismael|   Sciarra| FI_ACCOUNT|         null|
|Jose Manuel|     Urman| FI_ACCOUNT|         null|
|       Luis|      Popp| FI_ACCOUNT|         null|
|        Den|  Raphaely|     PU_MAN|     ST_CLERK|
|  Alexander|      Khoo|   PU_CLERK|         null|
|     Shelli|     Baida|   PU_CLERK|         null|
|      Sigal|    Tobias|   PU_CLERK|         null|
|        Guy|    Himuro|   PU_CLERK|         null|
|      Karen|Colmenares|   PU_CLERK|         null|
+-----------+----------+-----------+-------------+
only showing top 20 rows

Выведете уникальные телефонные номера

In [42]:
# код
ss.sql("SELECT DISTINCT PHONE_NUMBER FROM employees").show()

+------------------+
|      PHONE_NUMBER|
+------------------+
|011.44.1344.429018|
|      515.127.4566|
|      515.127.4564|
|011.44.1344.429278|
|      515.123.4569|
|      650.124.1434|
|      650.123.2234|
|011.44.1344.498718|
|      650.127.1634|
|      515.127.4561|
|011.44.1345.629268|
|      515.127.4562|
|011.44.1644.429264|
|011.44.1644.429262|
|      650.501.1876|
|      650.127.1834|
|011.44.1343.529268|
|011.44.1644.429265|
|      515.123.8181|
|      650.507.9833|
+------------------+
only showing top 20 rows

Есть ли сотрудники с одинаковыми фамилиями и сколько их.

In [43]:
# код
ss.sql("select LAST_NAME, count(*) as count from employees e group by LAST_NAME having count > 1").show()

+---------+-----+
|LAST_NAME|count|
+---------+-----+
|    Smith|    2|
|     King|    2|
|Cambrault|    2|
|   Taylor|    2|
+---------+-----+