In [6]:
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import numpy as np
import geopandas as gpd

from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error
from sklearn.linear_model import LinearRegression
from geopy.geocoders import Nominatim

In [5]:
# !pip3 install geopandas
!pip3 install geopy

Collecting geopy
  Downloading geopy-2.0.0-py3-none-any.whl (111 kB)
     |████████████████████████████████| 111 kB 760 kB/s eta 0:00:01
Collecting geographiclib<2,>=1.49
  Downloading geographiclib-1.50-py3-none-any.whl (38 kB)
Installing collected packages: geographiclib, geopy
Successfully installed geographiclib-1.50 geopy-2.0.0

### Задача:

Прогноз продаж одной из популярных моделей [фичерфонов](https://ru.wikipedia.org/wiki/%D0%A4%D0%B8%D1%87%D0%B5%D1%80%D1%84%D0%BE%D0%BD) (на картинке ниже пример похожего устройства) в салонах МегаФона
![](https://39.img.avito.st/640x480/8468720439.jpg)

### Исходные данные:

Датасет содержит следующие поля:

1. `point_id` - Индентификатор салона
2. `lon` - Долгота точки
3. `lat` - Широта точки
4. `target` - Значение таргета, усредненное за несколько месяцев и отнормированное

### Требования к решению и советы:

Ниже приведен список из нескольких важных пунктов, необходимых для решения задания. Выполнение каждого из пунктов влияет на итоговую оценку. Вы можете выполнить каждый из пунктов разными способами, самым лучшим будет считаться вариант, когда всё получение и обработка данных будут реализованы на Питоне (пример: вы можете скачать данные из OSM через интерфейс на сайте overpass-turbo или с помощью библиотек `overpass`/`requests`. Оба варианта будут зачтены, но больше баллов можно заработать во втором случае)



1. Салоны расположены в нескольких разных городах, вам необходимо **определить город для каждого салона** (это понадобится во многих частях задания). К этому есть разные подходы. Вы можете провести [обратное геокодирование](https://en.wikipedia.org/wiki/Reverse_geocoding) с помощью геокодера [Nominatim](https://nominatim.org/), доступного через библиотеку `geopy` примерно вот так:
```python
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="specify_your_app_name_here")
location = geolocator.reverse("52.509669, 13.376294")
print(location.address)
```
В таком случае, вам придется обрабатывать полученную строку адреса, чтобы извлечь название города. Также вы можете скачать из OSM или найти в любом другом источнике границы административно территориальных границ России и пересечь с ними датасет с помощью `geopandas.sjoin` (этот вариант более надежный, но нужно будет разобраться с тем, как устроены границы АТД в OSM, обратите внимание на [этот тег](https://wiki.openstreetmap.org/wiki/Key:admin_level))


2. **Используйте данные OSM**: подумайте, какие объекты могут влиять на продажи фичерфонов. Гипотеза: такие телефоны покупают люди, приезжающие в город или страну ненадолго, чтобы вставить туда отдельную симкарту для роуминга. Можно попробовать использовать местоположения железнодорожных вокзалов (изучите [этот тег](https://wiki.openstreetmap.org/wiki/Tag:railway%3Dstation)). Необходимо использовать хотя бы 5 разных типов объектов из OSM. Скорее всего, вам придется качать данные OSM отдельно для разных городов (см. пример для Нью-Йорка из лекции)


3. **Используйте разные способы генерации признаков**: описать положение салона МегаФона относительно станций метро можно разными способами - найти ***расстояние до ближайшей станции***, или же посчитать, сколько станций попадает в ***500 метровую буферную зону*** вокруг салона. Такие признаки будут нести разную информацию. Так же попробуйте поэкспериментировать с размерами буферных зон (представьте, что значат в реальности радиусы 100, 500, 1000 метров). Попробуйте посчитать расстояние до центра города, до других объектов.

4. **Сделайте визуализации**: постройте 2-3 карты для какого нибудь из городов - как распределен в пространстве таргет, где находятся объекты, полученные вами из OSM. Можете использовать любой инструмент - обычный `plot()`, `folium`, `keplergl`. Если выберете Кеплер, обязательно сохраните в файл конфиг карты, чтобы ее можно было воспроизвести. Сделать это можно вот так:

```python
import json
json_data = kepler_map.config
with open('kepler_config.json', 'w') as outfile:
    json.dump(json_data, outfile)
```
5. Задание не ограничено приведенными выше пунктами, попробуйте нагенерировать интересных признаков, найти в интернете дополнительные данные (в таком случае в комментарии к коду укажите ссылку на ресурс, откуда взяли данные)



6. Это довольно сложная задача - датасет очень маленький, данные по своей природе довольно случайны. Поэтому место и скор на Kaggle не будут играть решающую роль в оценке, но позволят заработать дополнительные баллы

### Read data

In [13]:
train = pd.read_csv('data/mf_geo_train.csv')
test = pd.read_csv('data/mf_geo_test.csv')

In [14]:
train.head(2)

   point_id        lon        lat    target
0  ommNZCUV  37.590776  55.848630 -0.348157
1  nMe2LHPb  37.784210  55.750271  1.294206

In [15]:
test.head(2)

   point_id        lon       lat  target
0  F4lXR1cG  37.681242  55.74804  0.0091
1  4LJu4GTf  60.580910  56.79586  0.0091

### Fit model

In [16]:
X_train, X_valid, y_train, y_valid = train_test_split(train.drop('target', axis=1), train[['target']])
model = LinearRegression().fit(X_train.drop('point_id', axis=1), y_train)

In [17]:
mean_absolute_error(y_valid, model.predict(X_valid.drop('point_id', axis=1)))

0.6399230367128608

### Make submission

In [59]:
submission = pd.read_csv('data/sample_submission.csv')
submission['target'] = model.predict(X_valid.drop('point_id', axis=1))
submission.to_csv('data/my_submission_01.csv', index=False)

### Improvements

In [46]:
geolocator = Nominatim(user_agent="65")
# location = geolocator.reverse("52.509669, 13.376294")
# location = geolocator.reverse("55.848630, 37.590776")
location = geolocator.reverse("37.643983, 55.730188")

print(location.address)

چاتال, دهستان شلمی, بخش گلیداغ, شهرستان مراوه تپه, استان گلستان, ایران

In [32]:
def parse_address(adress):
    return adress.split(',')[-].strip()

def get_city(lon, lat):
    location = geolocator.reverse(str(lon) + ', ' + str(lat))
    return parse_address(location.address)

In [41]:
get_city(55.848630, 37.590776)

'Центральный федеральный округ'

In [37]:
train['city'] = train[['lon', 'lat']].apply(lambda x: get_city(x[0], x[1]))

In [38]:
train

     point_id        lon        lat    target city
0    ommNZCUV  37.590776  55.848630 -0.348157  NaN
1    nMe2LHPb  37.784210  55.750271  1.294206  NaN
2    ZgodVRqB  39.635721  47.213330 -1.039679  NaN
3    0t2jNYdz  37.704570  55.782020 -1.169339  NaN
4    U27W4QJ7  37.643983  55.730188 -0.088837  NaN
..        ...        ...        ...       ...  ...
420  AA8hN7bJ  37.628765  55.740664  0.213704  NaN
421  uNw6t6xk  37.586825  55.794233 -0.002397  NaN
422  Ap42ei8k  37.678790  55.772910 -0.910019  NaN
423  rn9A8r62  37.752130  55.619640 -0.326547  NaN
424  960M6jye  37.705770  55.782950 -1.234169  NaN

[425 rows x 5 columns]